.header {
    padding: 0 35px;
    height: 100px;

    display: flex;
    /* display: none; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    top: 0;
    position: sticky;

    background-color: transparent;

    transition: 0.5s all ease;

    z-index: 2;
}

.header.active {
    background-color: var(--main-2);
}

.name {
    display: inline-block;

    margin: 20px 0 20px 0;

    color: var(--main-1);
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;

    opacity: 0;

    transition: 0.5s all ease;

}

.name.active {
    opacity: 1;
}

.header-links {
    display: inline-block;

    list-style-type: none;
    margin: 0;

    padding: 5px 0 10px 0;

}

.header-link-list-item {
    display: inline;
}

.header-link {
    padding: 0 10px;

    font-size: 1.5rem;
    color: var(--main-1);

    text-decoration: none;
    text-decoration-color: var(--main-1);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
}

.header-link:hover {
    text-decoration-thickness: 2px;
}

.header-link.header-link-text {
    display: inline;
}

.header-link.header-link-icon {
    display: none;
}


.header-icon {
    width: 2rem;
    fill: var(--main-1)
}

@media only screen and (max-width: 650px) {
    .header-links {
        padding-top: 15px;
    }

    .header-link.header-link-text {
        display: none
    }

    .header-link.header-link-icon {
        display: inline;
    }

}