.card {
    /* flex: 1 1 300px; */
    flex: 1 1 450px;

    padding: 20px;
    border-radius: 5px;

    background-color: var(--back-1);
    backdrop-filter: blur(10px);


    transition: 0.25s all ease;

    outline-style: solid;
    outline-width: 2px;
    outline-color: transparent;
    outline-offset: 0px;
}

.card:hover {
    outline-color: var(--main-1);
    outline-offset: 5px;
}

.card-tags-wrapper {
    margin-bottom: 20px;

    display: flex;
    gap: 20px;
}

.card-tag {
    display: inline-block;
    padding: 10px 20px;

    border-radius: 20px;
    background-color: var(--main-2);
    color: var(--main-1);

    /* font-weight: bold; */
}

.card-image-container {
    width: 100%;
}

.card-image {
    width: 100%;
    border-radius: 20px;
}

.card-title {
    margin: 15px 0;
    font-size: 1.5rem;

    color: var(--main-1);
}

.card-description {
    margin: 15px 0;

    color: var(--main-1);
}

.card-links-wrapper {}

.card-link {
    color: var(--main-1);
    display: inline-block;

    margin: 5px 20px 5px 0;

    padding: 10px 0 10px 0;

    font-weight: bold;

    text-decoration: none;
    text-decoration-color: var(--main-1);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
}

.card-link:hover {
    text-decoration-thickness: 2px;
}

.card-link.individual-clickable {
    position: relative;
    z-index: 2;
}

.card-link.whole-card-clickable::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}