:root {
  /* --main-1: #003b49;
  --main-2: #d0d3d4;
  --back-1: rgb(227, 231, 232); */

  /* --main-1: #003b49;
  --main-2: #fefefe;
  --back-1: #f0f0f0; */

  --main-1: #003b49;
  --main-2: #f0f0f0;
  --back-1: #fefefe;
}

html {
  background-color: var(--main-2);
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  margin: 0;
  min-width: 400px;
}

.padding-element {
  width: 100%;
  height: min(60vw, 50vh);
}